//
// BUTTON
// ------

/* Helpers */
.button.is-secondary {
    background-color: $secondary;
    border-color: transparent;
    color: $white;
    
    transition: background-color $animation-timing $easing;
    
    &.is-hovered, &:hover {
        border-color: transparent;
        background-color: darken($secondary, 10%);
        color: $white;
    }
}
.button {
    transition: all $animation-timing ease;
}