//
// VARIABLES
// Overwrite bulma
// ---------------

/* MEDIA BREAKPOINT */
$tablet:        768px;

/* TYPOGRAPHY */
$family-sans-serif: 'Lato', Arial, Helvetica, sans-serif;
$size-7: 0.85rem;
$iconic-font-path: '../fonts/';

/* COLORS */
$primary:       #34478C;
$secondary:     #4F7AC8;
$extra:         #82B1F2;

$white:         #fff;
$black:         #000000;

/* OTHER */
$radius: 0px;

/* ANIMATION */
$animation-timing: 200ms;

/* COMPONENTS USAGE */
$user-section-bg: $secondary;
$modal-background-background-color: rgba($secondary, 0.86);
$modal-cotent-bg: $white;
$header-cart-bg: $secondary;
$header-cart-counter-bg: $extra;
$main-nav-item-active-bg: $secondary;
$main-nav-item-active-color: $white;