.cart-dropdown__item {
    padding: .375rem .5rem;

    th {
        vertical-align: middle;
    }
    tr:nth-child(n+2) th{
        padding-top: .5rem;

    }

    .product-qty {
        padding-right: .5rem;
        width: 10%;
    }
    .product-name {
        width: 70%;
    }
    .product-image {
        widows: 20%;
        text-align: right;

        img {
            width: 40px;
            height: 40px;
        }
    }
}
.cart-dropdown__buttons {
    display: table;
    width: 100%;

    a {
        display: table-cell;
        width: 50%;
    }
}
.cart-dropdown__cart-btn, .cart-dropdown__checkout-btn { 
    border-width: 1px 0 0 0;
    margin-top: .5rem;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    .icon {
        padding-left: 1rem;
    
        font-size: .85rem;
    }
}
