//
// NOTIFICATION
// ------------

.woocommerce-error{
     &:before {
        position: static;
        vertical-align: middle;
        color: $white;
        padding-right: 1rem;
    }
    li {
        vertical-align: middle;
        display: inline-block;
    }
}
.modal  {
    opacity: 0;
}
.modal.is-active {
    animation: .4s ease 0s normal forwards 1 fadein;
    opacity: 1;
}
.modal-content {
    background: $modal-cotent-bg;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}