//
// HEADER
// ------

.header {
    padding: 1.5rem .5rem 2rem;
@media screen and (min-width: $desktop) {
    padding: 1.5rem 0 2rem;
}
}
.header__logo {
    .custom-logo {
        height: 60px;
        width: auto;
    }
}
.header__search {
    width: 50%;
    margin-top: .75rem;
    margin-left: auto;
    @media screen and (min-width: $desktop) {
        width: 40%;
        margin-left: 0;
    }
}
.header__cart {
    background: $header-cart-bg;
    border-radius: 0.25rem;
    margin-left: auto;
}
.header__cart-content {
    position: relative;

}
.header__cart-icon {
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
}
.header__cart-counter {
    position: absolute;
    top: .25rem;
    left: 2.25rem;
    background-color: $header-cart-counter-bg;
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    line-height: 1.8;
}
.header__cart-price {
    vertical-align: super;
    padding-right: 1rem;
}
.header__cart-dropdown {
    right: 0;
    left: auto;
    min-width: 18rem;
    padding-top: 0;

    .dropdown-content {
        padding-bottom: 0;
    }
}
