//
// NAVBAR RESPONSIVE
// -------------


//  TABLET
@media screen and (min-width: $tablet) {
    .navbar>.container {
        display: flex;
    }
    .preheader  {
        .navbar, .navbar-menu, .navbar-start {
            align-items: stretch;
            display: flex;
        }
        .navbar-end {
            justify-content: flex-end;
            margin-left: auto;
        }

        .navbar-item, .navbar-link {
            align-items: center;
            display: flex;
        }

        .navbar-menu {
            background-color: transparent;
            box-shadow: none;
            padding: 0;
        }

        .preheader__user-info, .preheader__secondary-nav {
            display: inline-flex;
            vertical-align: top;
        }
    }

}
