//
// NAVBAR
// --------

/* NAVBAR Burger variants */
// Navbar class .is-primary etc.
.navbar-burger {
    background-color: transparent;
    border: 0;
    color: $white;
}

// Navbar class .is-white || .is-transparent
.is-white, .is-transparent {
    .navbar-burger {
        background-color: transparent;
        border: 0;
        color: $black;
    }
}

/* NAVBAR link variants */
// Navbar class .is-primary etc.
@media screen and (min-width: $tablet) {

    .navbar-item, .navbar-link {
        color: $white;
    }
    .navbar-dropdown {
        .navbar-item {
            color: $black;
        }
    }
    // Navbar class .is-white
    .is-white, .is-transparent {
        .navbar-item, .navbar-link {
            background-color: transparent;
            border: 0;
            color: $black;
        }
    }
    
}

/* Main navigation  */
.main-navigation {
    border-bottom: 1px solid $grey-lighter;
    box-shadow: 0px 0 3px 0px rgba(0, 0, 0, 0.4);
}

.main-navigation .navbar-menu{

    > .navbar-item {
        > .navbar-item,.navbar-link {
            padding: 1rem;
            font-size: 1rem;
            text-transform: uppercase;
        }
    }
    > .navbar-item {
        border-color: $grey-lighter;
        border-width: 0px 1px 0px 1px;
        border-style: solid;
        margin-left: -1px;
        padding: 0;
    }
    .navbar-item > .navbar-link {
        padding-right: 2rem;

        &::after {
            right: .8rem;
            top: 52%;
        }
    }

    .current-menu-item {
        background: $main-nav-item-active-bg;
       a {
        color: $main-nav-item-active-color;
       }
    }
}