//
// PREHEADER
// ---------

.preheader {
    font-size: $size-small;
    .navbar-item {
        padding: .4rem .5rem;
    }
}

    .preheader__content {
        border-bottom: 1px solid $white;
        height: 45px;
        min-height: auto !important;
    }
    .preheader__welcome-msg {
        padding: .4rem 0;
        
        .navbar-item {
            padding-left: 0;
        }
    }
.preheader__user-info {
    background-color: $user-section-bg;
    .icon {
        padding-right: .25rem;
    }
    .navbar-item {
        padding: 0.3rem .5rem;
    }
}
